@media (max-height: 680px), screen and (orientation: portrait) {
    section{
        width: 80%;
    }
     nav{
        width: 95%;
    }
    nav .logo img{
        width: 50px;
        margin-left: 20px;
        border-radius: 50%;
    }
    /* body{
        padding-right: 0px;
    } */
    .my-name{
        font-weight: 600;
        font-size: 50px;
        line-height: 3rem;
        padding: 20px 0px;
    }
    .contact-logo{
        width: 130px;
        height: 30px;
        border: 1px solid white
    }
    .contact-info{
        justify-content: center;
    }
    .contact-me{
        font-size: 12px;
    }
    .contact-info .contact-logo a{
        font-size: 12px;
        font-weight: 400;
    }
  }
